body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}

.primary-btn:hover {
  color: red;
}
.primary-btn:visited {
  color: orange;
}

ul li:first-child {
  background-color: blue;
}

ul li:nth-child(2n + 1) {
  background-color: blue;
}

/*pseudo elements select some part of the element
::first-letter
::first-line
::after
::before
*/

h2::first-letter {
}

::selection {
  color: greenyellow;
  background-color: black;
}

h2::before {
  content: "Any ";
}

/*Css combinators
Descendant (space)
child >
Adjacent siblings (+)
General siblings (~)

*/
