/*
#container properties#
flex-wrap: wrap | nowrap(default); wrap elements when the width of window gets smaller then width of elements
flex-direction:column-reverse | column |row(default)
gap|row-gap|col-gap
 flex-flow: wrap column;  (flex-wrap + flex direction)
 justify-content: space-around| space-between |center | flex-start |flex-end
 align-items:center| flex-start |flex-end |strech(default);
 align-content: flex-start;(when items are in multiple rows)


#items#
 flex-grow
 flex-shrink
 flex-basis:defines width or height of items depending on the direction
 flex
 align-self
*/

* {
  box-sizing: border-box;
}
.container {
  height: 400px;
  border: 2px solid red;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.box {
  border: 2px solid green;
  width: 100px;
}

#box-1 {
  order: 1;
  flex-grow: 1;
}

#box-3 {
}
