/*
grid-template-columns: 100px 200px 300px;  1fr 2fr 1fr 2fr ; 25% 30% 40% ; repeat(4,1fr);
repeat(auto-fill, 1fr); 200px auto auto

row-gap
column-gap


GRID_CHILD_PROPERTIES



*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 800px;
  border: 2px solid red;
  gap: 10px;
  display: grid;
  /* grid-template-columns: 200px 200px 300px; */
  /*grid-template-rows: 100px 100px;
  grid-auto-rows: 70px;*/
  /*align-content: center; */ /*align complete container*/
  /*align-items: baseline;*/ /*align individual items */
  grid-template-areas:
    "hr hr hr"
    "sb main main"
    "sb main main"
    "ft ft ft";
}

.box {
  border: 2px solid green;
  padding: 12px;
}

#box-1 {
  /* justify-self: start;
  align-self: end; */
  /* grid-column-start: 1;
  grid-column-end: 4; */
  /* grid-column: 1/4;*/ /*1/span(3)*/
  /* grid-row: 1/4;  */
  /* grid-area: 1/1/3/3; */
}
