.pinInput {
  display: flex;
  flex-direction: row;
}

.pinInput > * {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 0px;
}

.pinInput > *:focus {
  border-radius: 0px;
  border: 1px solid black;
  background-color: lightblue;
}

.rated {
  background-color: yellow;
}
