/*
scaleX,scaleY,scaleZ
skew(20deg, 40deg);
translate(50%, 50%);
rotate(in 3d)

*/

.container {
  width: 400px;
  height: 400px;
  background-color: steelblue;
  margin: 300px;
}

.box {
  width: 5px;
  height: 200px;
  background-color: tomato;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1) rotate(20deg);

  /*transform-origin: top left;*/
}
